@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {

    font-family: "Muli", sans-serif;
    font-size:15px;
    line-height:25px;
}

body {
    padding-bottom:20px;
    background-color:#eeeeee;
}

p {
    font-size:15px;
}
.plate {
    width:40%;
    min-width:350px;
    display:block;
    margin: auto;
    box-sizing: border-box;
    /* border:2px solid blue; */
}

.logo {
    width:100%;
    position: relative;
    left:-30px;
}

.brand {
    width:40%;
    min-width:370px;
    display:block;
    margin: auto;
    box-sizing: border-box;
    /* border:2px solid green; */
    margin-top:0;
    padding-top:0;
}


.work {
    clear: both;
    min-width:350px;
    width:100%;
    display:block;
    margin:auto;
    box-sizing: border-box;
    padding:0;
    /* border-top:2px solid black; */
    padding-top:0;
    /* border:2px solid green; */
}

h1 {
    text-transform: uppercase;
    font-weight: 800;
    padding-left:0px;
    font-size:1.4em;
    padding-top:0;
    margin-top:0;
    line-height:1em;
    width:350px;
    margin:auto;
    padding-bottom:20px;
    padding-top:10px;
}

h2 {
    font-size:1.05em;
    font-weight:800;
    margin:0;
    padding:0;
    line-height:1em;
    padding-top:20px;
}

.firstPar {
    margin-top:0;
    padding-top:6px;
}

.project {
    width:350px;
    background-color:gray;
    display:block;
    vertical-align: top;

    margin:auto;
    margin-top:0px;
    margin-bottom:20px;
    box-shadow:0 0 8px gray;
}

.project img {
    width:100%;
    margin:0;
    padding:0;
    line-height: 0;

    margin-bottom:-7px;
}

.projectInfo {
    background-color:white;
    width:100%;
    padding:10px;
    box-sizing: border-box;
   
}

.icon {
    width:80px;
    height:80px;
    background-size:80px 80px;
    background-repeat: no-repeat;
    display:inline-block;
    float:left;
    cursor: pointer;
    opacity:.5;
}

.icon:hover {
    opacity:1;
}
.github {
    background-image:url('assets/github_round.svg');
}

.github:hover {
    background-image:url('assets/github_round_hi.svg');
}
.linkedin {
    background-image:url('assets/linked_in_black.svg');
}
.linkedin:hover {
    background-image:url('assets/linked_in_hi.svg');
}

.bdCard {
    width:100%;
}
/*  ClearFix  */
/*  The ClearFix by Tony Aslett and Nicholas Gallagher */
.group:before,
.group:after {
  content: "";
  display: table; }

.group:after {
  clear: both; }

.group {
  zoom: 1;
  /* IE6&7 */ }

    
  
/* Styles for larger screens */

@media only screen and (min-width:854px) {

    html {
        background-color:#cccccc;
    }
    body {
        padding-left:20px;
        border-radius:4px;
        max-width:900px;
        width:94%;
        margin:auto;
        margin-top:30px;
        box-shadow:0 0 4px rgb(194, 194, 194);
        padding-bottom:40px;
        margin-bottom:40px;
    }
    .plate {
        margin-top:40px;
        display:inline-block;
        float:left;
        min-width:270px;
    }

    .plate img {

    }

    #plate {
        width:10%;
        padding-left:30px;
    }
    .logo {
        width:100%;
        position: relative;
        left:0px;
        max-width:300px;
        margin-bottom:20px;
    }
    .brand {
        width:64%;
        margin-top:40px;
        margin-left:0;
        display:inline-block;
        float:left;
    }

    .work {
        width:820px;
        margin:0;
        clear:both;
        margin-left:0px;
        padding:0;
    }

    h1 {
        padding-left:20px;
        margin:0;
        padding-top:0;
    }

    .project {
        width:250px;
        background-color:gray;
        display:inline-block;
        float:left;
        vertical-align: top;
        margin-top:0px;
        margin-left:20px;
    }

    .projectInfo {
        min-height:280px;
    }

    .projectInfo h1 {
        font-size:1.05em;
        padding-left:0;
        margin-left:0;
        margin-top:20px;
        margin-bottom:0;
        line-height: 0;
    }

    .projectInfo p {
        margin-top:0;
        padding-top:0;
        font-size:13px;
    }
    .icon {
        width:60px;
        height:60px;
        background-size:60px 60px;
    }


    .github {
        margin-left:20px;
    }


}